p {
 margin: 0;
}


.search {
    position: relative;
    padding: 10px 15px 10px 5px;
    & .numberOfStars {
        color: goldenrod;
        &::after {
            content: "☆";
        }
        
        &.empty-star::after {
            content: "☆";
        }
    }

    & .close-icon {
        position: absolute;
        top: 2px;
        right: -5px;

        &:hover {
            color: red;
        }
    }
}



.search .numberOfStars.full-star::after {
    content: "★";
}

.search-icon:hover {
    color: blue;
}