<div [ngSwitch]="this.restaurantService.newRestaurant" class="handle">
  
  <form (ngSubmit)="onSubmit(newRestaurantName.value, clickOnMapPositionAddress)">
    <div class="form-group">
      <label
        >Nom:
        <input #newRestaurantName [value]="" size="50" maxlength="50" required />
      </label>
    </div>
    <div class="form-group">
      <p>
        Adresse :<br />
        {{ clickOnMapPositionAddress }}
      </p>
    </div>
    <button type="submit" class="btn btn-success"
    >
      Enregistrer
    </button>
    <button type="reset" class="btn btn-reset"
      (click)="
        cancelNewRestaurant();
        newRestaurantName.value = '';
      "
    >
      Annuler
    </button>
  </form>
</div>
